.bin-alert {
  position: relative;
  width: 100%;
  padding: 8px 15px;
  border-radius: var(--bin-border-radius-default);
  color: var(--bin-color-text-default);
  font-size: var(--bin-font-size-default);
  line-height: var(--bin-base-line-height);
  margin-bottom: 10px;

  &.bin-alert-with-icon {
    padding: 8px 48px 8px 38px;
  }

  &.bin-alert-with-desc {
    &.bin-alert-with-icon {
      padding: 8px 16px 8px 69px;
    }

    .bin-alert-icon {
      left: 24px;

      .b-iconfont {
        font-size: 36px;
      }
    }

    .bin-alert-desc {
      display: block;
    }
  }
}

.bin-alert-success {
  border: 1px solid var(--bin-color-success-light3);
  background-color: var(--bin-color-success-light6);

  .bin-alert-icon {
    color: var(--bin-color-success);
  }
}

.bin-alert-info {
  border: 1px solid var(--bin-color-primary-light3);
  background-color: var(--bin-color-primary-light6);

  .bin-alert-icon {
    color: var(--bin-color-primary);
  }
}

.bin-alert-warning {
  border: 1px solid var(--bin-color-warning-light3);
  background-color: var(--bin-color-warning-light6);

  .bin-alert-icon {
    color: var(--bin-color-warning);
  }
}

.bin-alert-error {
  border: 1px solid var(--bin-color-danger-light3);
  background-color: var(--bin-color-danger-light6);

  .bin-alert-icon {
    color: var(--bin-color-danger);
  }
}

.bin-alert-message {
  font-size: var(--bin-font-size-default);
  color: var(--bin-color-text-primary);
}

.bin-alert-with-desc .bin-alert-message {
  display: block;
  font-size: var(--bin-font-size-large);
  margin-bottom: 4px;
}

.bin-alert-desc {
  display: none;
  text-align: justify;
}

.bin-alert-icon {
  top: 6px;
  left: 14px;
  position: absolute;

  .b-iconfont {
    line-height: var(--bin-base-line-height);
    font-size: 18px;
  }
}

.bin-alert-close {
  position: absolute;
  right: 10px;
  top: 8px;
  overflow: hidden;
  cursor: pointer;

  .b-icon-close {
    color: var(--bin-color-text-secondary);
    transition: color var(--bin-animation-duration-base) ease;
    position: relative;

    &:hover {
      color: var(--bin-color-text-default);
    }
  }
}

.bin-alert-with-banner {
  border-radius: 0;
}
