.bin-breadcrumb {
  font-size: var(--bin-base-font-size);
  line-height: var(--bin-base-line-height);
  &:after, &:before {
    display: table;
    content: "";
  }
}

.bin-breadcrumb__item {
  &:last-child .bin-separator {
    display: none;
  }
}
.bin-separator {
  margin: 0 6px;
  color: var(--bin-color-text-secondary);
  &.icon {
    font-size: 14px;
    vertical-align: middle;
    font-weight: normal;
    line-height: 1;
  }
}
.bin-breadcrumb__inner {
  color: var(--bin-color-text-default);
  a {
    text-decoration: none;
    transition: color var(--bin-animation-duration-base) cubic-bezier(.645, .045, .355, 1);
    color: var(--bin-color-text-secondary);
    &:hover {
      color: var(--bin-color-primary);
      cursor: pointer;
    }
  }
}
