.bin-cascader {
  position: relative;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  color: $color-text-default;
  font-size: $base-font-size;
  line-height: $base-line-height;
  &:not(.is-disabled):hover .el-input__inner {
    cursor: pointer;
    border-color: $color-text-placeholder;
  }
  .bin-input-wrapper {
    .b-icon-down {
      transition: transform .3s;
      font-size: 14px;
      color: $color-text-secondary;
      &.is-reverse {
        -webkit-transform: rotateZ(180deg);
        transform: rotateZ(180deg)
      }
    }
    .b-icon-close-circle-fill {
      color: $color-text-secondary;
      cursor: pointer;
    }
  }

  &__tags {
    position: absolute;
    left: 0;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: normal;
    text-align: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;
    .bin-tag {
      display: inline-flex;
      align-items: center;
      max-width: 100%;
      margin: 2px 0 2px 6px;
      text-overflow: ellipsis;
      background: #f0f2f5
      box-sizing: border-box;
      border-color: transparent;
    }
  }

  &__suggestion-panel {
    border-radius: $border-base-radius;
  }
  &__suggestion-list {
    max-height: 204px;
    margin: 0;
    padding: 6px 0;
    font-size: 14px;
    color: #606266;
    text-align: center;
  }
  &__suggestion-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 0 16px;
    height: 34px;
    line-height: 34px;
    outline: 0;
    color: $color-text-default;
    transition: background $animation-duration-base ease-in-out;
    cursor: pointer;
    &:hover {
      background: $color-select-hover;
    }
    &.is-checked {
      color: $color-primary;
      font-weight: 700
      i {
        font-size: 14px;
      }
    }
  }

  &__empty-text {
    margin: 10px 0;
    color: $color-text-placeholder;
  }
  &__search-input {
    flex: 1;
    height: 24px;
    min-width: 60px;
    margin: 2px 0 2px 12px;
    padding: 0;
    color: $color-text-default;
    border: none;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
    &::placeholder {
      color: $color-text-placeholder;
    }
  }
}

// 下拉框样式
.bin-cascader__dropdown {
  border-radius: $border-base-radius;
  &.bin-popper {
    background-color: $color-white;
    box-sizing: border-box;
    border-radius: $border-base-radius;
    box-shadow: $shadow-2-down;
    z-index: 900;
    &.is-light {
      border: none;
    }
  }
}
