.bin-popover.bin-popper {
  background: #FFF;
  min-width: 150px;
  border-radius: $border-base-radius;
  border: 1px solid $border-popper-color;
  z-index: 2000;
  color: $color-text-default;
  text-align: justify;
  font-size: $base-font-size;
  box-shadow: $shadow-popper;
  word-break: break-all;
  padding: 12px;
  .bin-popover__title {
    width: 100%;
    line-height: 1;
    margin: 0;
    color: $color-text-primary;
    font-weight: 500;
    font-size: $header-font-size;
    margin-bottom: 12px;
  }
}
