.bin-popover {
  &.bin-popper {
    background: #FFF;
    min-width: 150px;
    border-radius: var(--bin-border-base-radius);
    z-index: 2000;
    color: var(--bin-color-text-default);
    text-align: justify;
    font-size: var(--bin-base-font-size);
    box-shadow: var(--bin-shadow-popper);
    word-break: break-all;
    padding: 12px;
    .bin-popover__title {
      width: 100%;
      line-height: 1;
      margin: 0;
      color: var(--bin-color-text-primary);
      font-weight: 700;
      font-size: var(--bin-header-font-size);
      margin-bottom: 12px;
    }
  }
}
