.bin-radio {
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  margin-right: 8px;
  user-select: none;
  font-size: $base-font-size;
  line-height: $base-line-height;
  outline: none;
  &-group {
    font-size: 0;
  }
  &__label {
    padding: 0 8px;
    vertical-align: middle;
  }
  &__input {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    &:hover {
      .bin-radio__inner {
        border-color: $color-primary-light1;
      }
    }
    &.is-checked {
      .bin-radio__inner {
        border-color: $color-primary
        &:after {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
          transition: all $animation-duration-base ease-in-out;
        }
      }
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $color-primary;
        border-radius: 50%;
        animation: radioEffect $animation-duration-slow ease-in-out;
        animation-fill-mode: both;
        content: '';
      }
    }
    &.is-disabled {
      .bin-radio__inner {
        cursor: not-allowed;
        border-color: #dcdee2;
        background-color: #f3f3f3;
        &:after {
          background-color: #ccc;
        }
      }
    }
  }
  &__inner {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: $border-base;
    border-radius: 50%;
    transition: all $animation-duration-base ease-in-out;
    &:after {
      position: absolute;
      width: 8px;
      height: 8px;
      left: 3px;
      top: 3px;
      border-radius: 8px;
      display: table;
      border-top: 0;
      border-left: 0;
      content: " ";
      background-color: $color-primary;
      opacity: 0;
      transition: all $animation-duration-base ease-in-out;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  }
  &__original {
    position: absolute;
    opacity: 0;
    outline: none;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1;
    &[disabled] {
      cursor: not-allowed;
    }
  }
  &.is-disabled {
    .bin-radio__label {
      color: #ccc;
      cursor: not-allowed;
    }
  }
}

.bin-radio-group-button {
  font-size: 0;
  .bin-radio {
    position: relative;
    margin: 0;
    padding: 0 15px;
    color: #515a6e;
    border: 1px solid #dcdee2;
    background: #fff;
    height: $default-height;
    line-height: $default-height - 2;
    transition: background-color $animation-duration-base, color $animation-duration-base;
    &:hover {
      color: $color-primary;
      border-color: $color-primary;
      z-index: 1;
    }
    > span {
      margin-left: 0;
      padding: 0;
      vertical-align: baseline;
    }
    .bin-radio__input, input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    &:first-child {
      border-radius: $border-base-radius 0 0 $border-base-radius;
    }
    &:last-child {
      border-radius: 0 $border-base-radius $border-base-radius 0;
    }
    + .bin-radio {
      margin-left: -1px;
    }
    &__input {
      display: none;
    }
  }
  &.bin-radio-group-large .bin-radio {
    height: $large-height;
    line-height: $large-height - 2;
    padding: 0 16px;
  }
  &.bin-radio-group-small .bin-radio {
    height: $small-height;
    line-height: $small-height - 2;
    padding: 0 12px;
  }
  &.bin-radio-group-mini .bin-radio {
    height: $mini-height;
    line-height: $mini-height - 2;
    padding: 0 8px;
  }
  .bin-radio.is-checked {
    background: $color-primary;
    border-color: $color-primary;
    color: #fff;
    z-index: 1;
    &:hover {
      color: #fff;
      border-color: $color-primary;
      z-index: 1;
    }
  }
  .bin-radio.is-disabled {
    cursor: not-allowed;
    border-color: #dcdee2;
    background-color: #f7f7f7;
    color: #ccc;
    &:first-child, &:hover {
      border-color: #dcdee2;
      background-color: #f7f7f7;
      color: #ccc;
    }
    &.is-checked {
      color: #fff;
      background-color: #e6e6e6;
      border-color: #dcdee2;
    }
  }
}

@keyframes radioEffect {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
