.bin-scrollbar {
  --b-scrollbar-margin: 2px;
  --b-scrollbar-index: 2;
  position: relative;
  overflow: hidden;
  height: 100%;

  &:active, &:focus, &:hover {
    > .bin-scrollbar__bar {
      opacity: 1;
      transition: opacity 0.3s ease-out;
    }
  }
}

.bin-scrollbar__wrap {
  overflow: auto;
  height: 100%;
}

// 默认隐藏原生滚动条宽度
.bin-scrollbar__wrap--hidden-default {
  scrollbar-width: none;
}

.bin-scrollbar__wrap--hidden-default::-webkit-scrollbar {
  display: none;
}

.bin-scrollbar__bar {
  position: absolute;
  z-index: var(--b-scrollbar-index);
  right: var(--b-scrollbar-margin);
  bottom: var(--b-scrollbar-margin);
  opacity: 0;
  transition: opacity 0.12s ease-out;

  &.is-horizontal {
    height: var(--bin-scrollbar-width);
    left: var(--b-scrollbar-margin);

    > div {
      height: 100%;
    }
  }

  &.is-vertical {
    width: var(--bin-scrollbar-width);
    top: var(--b-scrollbar-margin);

    > div {
      width: 100%;
    }
  }

  &.always {
    opacity: 1;
  }
}

.bin-scrollbar__thumb {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-radius: var(--bin-scrollbar-radius);
  background: var(--bin-scrollbar-color);
  transition: background var(--bin-animation-duration-base);

  &:hover {
    background: var(--bin-scrollbar-color-hover);
  }
}
