/* text-color
-------------------------- */
$color-text-primary := rgba(0, 0, 0, .85);
$color-text-default := rgba(0, 0, 0, .65);
$color-text-secondary := rgba(0, 0, 0, .45);
$color-text-disabled := rgba(0, 0, 0, .25);
$color-text-placeholder := #C0C4CC;
$btn-disable-color := #c5c8ce;

.color-wrap {
  .item {
    position: relative;
    height: 44px;
    margin-right: 4px;
    padding: 0 12px;
    font-size: 14px;
    font-family: Consolas, sans-serif;
    line-height: 44px;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    user-select: none;
    &:hover {
      margin-right: -8px;
      border-radius: 0 4px 4px 0;
    }
  }
}
.main-color {
  width: 100%;
  display: flex;
  .main-color-item {
    position: relative;
    flex: 1;
    height: 86px;
    margin-right: 0;
    padding: 37px 0 0;
    line-height: normal;
    text-align: center;
    border-radius: 0;
    cursor: pointer;
    transition: all .2s
    &:hover {
      height: 96px;
      margin-top: -10px;
      border-radius: 4px 4px 0 0;
    }
  }
  .main-color-value {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    float: right;
    transform: scale(.85);
    opacity: 0;
    transition: all .3s;
  }
  &:hover {
    .main-color-item {
      padding-top: 8px;
    }
    .main-color-value {
      bottom: 8px;
      opacity: .7;
    }
  }
}

